body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  background-color: #f8f8f8;
  padding: .35em;
  border: 1px solid #444444;
}

table td {
  padding: .6em;
  color: #808080;
  background-color: #222222;
  white-space: nowrap;
}

table td.odd {
  padding: .6em;
  color: #808080;
  background-color: #222222;
  white-space: nowrap;
}

table td.even {
  padding: .6em;
  color: #808080;
  background-color: #2B2B2B;
  white-space: nowrap;
}

table th.center, table td.center {
  text-align: center;
}

table td.center {
  color: skyblue;
}

table th.left, table td.left {
  text-align: left;
}

table th.right, table td.right {
  text-align: right;
}

table td.field {
  border-left: 1px solid #444444;
}

table th {
  position: sticky;
  top: 0;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(107, 124, 117);
  background-color: #383838;
}

table th.odd {
  position: sticky;
  top: 0;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(107, 124, 117);
  background-color: #383838;
}

table th.even {
  position: sticky;
  top: 0;
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(107, 124, 117);
  background-color: #4F4F4F;
}

span.good {
  color: rgb(63, 242, 69);
}

span.unknow {
  color: rgb(246, 255, 89)
}

span.bad {
  color: rgb(239, 73, 41);
}

span.empty {
  color: 808080;
}

/* https://github.com/badele/gnuplot-styles/blob/master/color/diverging/RdYlGn.plt */

span.level-1 {
  color: #808080;
}

span.level0 {
  color: #006837;
}

span.level1 {
  color: #3ba858;
}

span.level2 {
  color: #9dd569;
}

span.level3 {
  color: #e4f49a;
}

span.level4 {
  color: #fee99a;
}

span.level5 {
  color: #fca55d;
}

span.level6 {
  color: #e34a33;
}

span.level7 {
  color: #a50026;
}

.imgcontainer {
  position: relative;
  text-align: center;
  color: white;
}

.imgpercent {
  position: absolute;
  top: 8px;
  right: 16px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tbody {
    height: 5em;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .6em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    color: #808080;
    background-color: #222222;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
